#body {
  margin: 0px;

  background-color: black;
}

/* #yahtzee-bonus-checks td:nth-child(3) {
  background-color: aqua;
} */
.container {
  background-color: black;
}
.row {
  background-color: black;
}
.header {
  text-align: center;
  background-color: burlywood;
  border: 1px solid #ccc;
}

.dice {
  background-color: green;
}

.dice-container {
  margin: auto;
  border: 4px red solid;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;

  height: 200px;
  width: 200px;
  background-color: black;
}

.dice-container .fas {
  font-size: 2.5em;
  display: inline-block;
  position: relative;
  top: 30px;
  margin: 10px;
  color: white;
  border: black, 1px;
}

table {
  background-color: orangered;
  width: 100%;
}
table tr th {
  background-color: purple;
  border: 1px solid black;
  text-align: center;
}

th:nth-child(2) {
  font-size: 10px;
  width: 50px;
}

th:nth-child(1) {
  background-color: white;
  width: 100px;
}

.fas {
  font-size: 20px;
}

.bonus {
  text-align: center;
}

.total-row {
  text-align: center;
  font-weight: bolder;
  border: 3px solid black;
}

.separator th {
  background-color: white;
  border: none;
}

.upper-section th,
.lower-section th {
  background-color: white;
  border-bottom: 4px solid black;
}

/* span {
  padding: 5px;
} */

/* .score-span {
  font-size: 1.5em;
} */
